:root {
	--btn-width: 12vw;
}

.container {
	display: block;
	box-sizing: border-box;
	align-items: center;
	margin: auto;
	width: fit-content;
	border: thick ridge green;
	margin-top: 20%;
}

.keys {
	/* between buttons we can find "spaces" calculated as 4px (of width)
	* 16px (of height); sizes are immutable */
	width: calc(var(--btn-width) * 4 + 4px * 3);
	box-sizing: border-box;
	height: 30vh;
}

input {
	width: calc(var(--btn-width) * 4 + 4px * 3);
	height: 5vh;
	text-align: center;
	background-color: #ACE1AF;
}

.row {
	width: calc(var(--btn-width) * 4 + 4px * 3);
	height: 6vh;
}

button {
	width: var(--btn-width);
	height: 6vh;
	padding: 2px;
}

.zero {
	/* between buttons we can find "spaces" calculated as 4px (of width)
	* 16px (of height); sizes are immutable */
	width: calc(var(--btn-width) * 2 + 4px);
}
