:root {
	--btn-width: 12vw;
	--btn-height: 6vh;
}

@font-face {
	font-family: radioland;
	src: url(fonts/RADIOLAND.TTF);
  }

body {
	background: url("climbing_plant.jpg");
	background-size: cover;
}

.container {
	display: block;
	align-items: center;
	margin: auto;
	width: fit-content;
	border: thick ridge darkgreen;
	margin-top: 20%;
	box-shadow: 5px 1.5px 1.5px 2.5px rgba(95, 0, 142, 0.518);
}

.keys {
	/* between buttons we can find "spaces" calculated as 4px (of width)
	* 16px (of height); sizes are immutable */
	width: calc(var(--btn-width) * 4 + 4px * 3);
	box-sizing: border-box;
	height: 30vh;
	background-color: darkgreen;
}

input {
	box-sizing: border-box;
	width: calc(var(--btn-width) * 4 + 4px * 3);
	height: 5vh;
	text-align: center;
	background-color: #ACE1AF;
	font-family: radioland, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 150%;
}

.row {
	box-sizing: border-box;
	width: calc(var(--btn-width) * 4 + 4px * 3);
	height: 6vh;
}

button {
	width: var(--btn-width);
	height: var(--btn-height);
	margin-top: 2px;
	box-shadow: 5px 1.5px 1.5px 2.5px rgba(45, 2, 66, 0.518);
}

.zero {
	width: calc(var(--btn-width) * 2 + 4px);
}
